{% include "header.html" %}
{% from "bootstrap5/form.html" import render_form %}

<!-- Page Header-->
<header class="masthead" style="background-image: url('{{post.img_url}}')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <h1>{{ post.title }}</h1>
                    <h2 class="subheading">{{ post.subtitle }}</h2>
                    <span class="meta">
                        Posted by
                        <a href="#">{{ post.author.name }}</a>
                        on {{ post.date }}
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content -->
<article>
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                {{ post.body|safe }}
                <div class="d-flex justify-content-end mb-4">
                    {% if current_user.id == 1 %}
                    <a class="btn btn-primary float-right" href="{{ url_for('edit_post', post_id=post.id) }}">Edit
                        Post</a>
                    {% endif %}
                </div>

                <!-- Display Comments -->
                <div class="comments">
                    <h3>Comments:</h3>
                    <ul class="commentList">
                        {% for comment in comments %}
                        <li>
                            <div class="commenterImage">

                                <img src="{{ comment.comment_author.email | gravatar }}"/>
                            </div>
                            <div class="commentText">
                                <p>{{ comment.text }}</p>
                                <span class="date sub-text">{{ comment.comment_author.name }} on {{ time }}</span>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>

                <!-- Comment Form -->
                {% if current_user.is_authenticated %}
                <div class="comment-form">
                    <h3>Leave a Comment:</h3>
                    {{ render_form(form, novalidate=True, button_map={"submit": "primary"}) }}
                </div>
                {% else %}
                <div class="login-prompt">
                    <p>You need to be logged in to comment. <a href="{{ url_for('login') }}">Log in</a> or <a
                            href="{{ url_for('register') }}">Register</a></p>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</article>

{% include "footer.html" %}
